.containerPaginado {
  display: flex;
  padding: 0.9vw;
  justify-content: center;

}


.buttonFlecha {
  font-size: 20px;
  background-color: white;
  color: black;
  width: 2vw;
  height: 45px;
  opacity: 0.75;
  border: 1px solid #e7eae8;
  border-radius: 8px;
  cursor: pointer;
  animation: bounce_513 1s infinite;
}

@keyframes bounce_513 {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media (max-width: 858px) {


  .containerResponsivePaginado{
    width: 100vw;
    height: 20vh;
    background-color: aquamarine;
  }


  .containerPaginado {
    position: absolute;
    padding: 2vw;
    left: 25%;
    right: 25%;
    
  
  }


  

}